input {
  background-color: #2a2f33;
  padding: 0.75em;
  border-radius: 5px;
  border-style: none;
}

button {
  color: black;
  padding: 0.6em;
}

.search-params {
  margin: 1em auto;
  width: 75%;
  display: flex;
  justify-content: end;
}
